<section style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Presentación</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus deserunt, nobis quae eos
                    provident quidem. Quaerat expedita dignissimos perferendis, nihil quo distinctio eius architecto
                    reprehenderit maiores.</p>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href=""><i class="icon-twitter"></i></a>
                <a target="_blank" href="https://www.youtube.com/embed/YmOf757B2T4"><i
                        class="icon-youtube-play"></i></a>
                <a href=""><i class="icon-facebook-squared"></i></a>
            </div>

            <div class="col-md-6">
                <iframe data-aos="fade-down" width="100%" height="315" src="https://www.youtube.com/embed/YmOf757B2T4"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="ewk_cont_banner_sec_3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Título de la seccion</h2>
                    <p data-aos="fade-up-right"> Similique excepturi voluptates placeat ducimus delectus magnam tempore
                        dolore dolorem quisquam porro modi voluptatum eum saepe dolorum ratione officia sint eos minus
                    </p>
                    <a class="btn btn-secondary btn-md" data-aos="fade-up-right"
                        href="https://ewebik.com.mx/">Portafolio</a>
                </div>
                <div class="col-md-8 ewk_cont_img text-center">
                    <img data-aos="zoom-out-down"
                        src="https://image.freepik.com/foto-gratis/bosquejos-jovenes-dibujo-disenador-tableta-grafica-digital-estudio-vista-superior-tiro_67155-1340.jpg"
                        class="img-fluid" alt="diseño        arquitectonico">
                </div>
            </div>
        </div>
    </div>
</section>





<div class="container card-body">
    <!-- Card deck -->
    <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" data-aos="fade-up-right"
                    src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" data-aos="flip-up" class="btn btn-light-blue btn-md">Read more</button>

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" data-aos="fade-up"
                    src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" data-aos="flip-up" class="btn btn-light-blue btn-md">Read more</button>

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" data-aos="fade-left"
                    src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Card title</h4>
                <!--Text-->
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <button type="button" data-aos="flip-up" class="btn btn-light-blue btn-md">Read more</button>

            </div>

        </div>
        <!-- Card -->

    </div>
    <!-- Card deck -->
</div>

</div>