<section style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Cursos preparatorios para regiones</h2>
                <p>Los cursos preparatorios para regiones, son inducciones para la vida universitaria que buscan
                    cualificar y mejorar las competencias primordiales en estudiantes de la educación básica y media,
                    para procesos de educación superior, en las regiones del departamento de Antioquia..</p>
                <a class="btn bg-dark text-white btn-md" data-aos="fade-up-right" href="/preguntas">Ver más</a>
            </div>

            <div class="col-md-6">
                <img data-aos="zoom-out-down"
                    src="https://images.pexels.com/photos/545062/pexels-photo-545062.jpeg?cs=srgb&dl=adentro-adulto-aprender-545062.jpg&fm=jpg"
                    class="img-fluid" alt="diseño  arquitectonico">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="ewk_cont_banner_sec_3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Preguntas frecuentes</h2>
                    <p data-aos="fade-up-right">Estas son algunas respuestas a las preguntas frecuentes sobre el
                        proceso. Consulta en la Guía de inscripción para aspirantes nuevos toda la información al
                        respecto.</p>
                    <a class="btn bg-dark text-white btn-md" data-aos="fade-up-right" href="/preguntas1">Ver más</a>
                </div>
                <div class="col-md-8 ewk_cont_img text-center">
                    <img data-aos="zoom-out-down"
                        src="https://image.freepik.com/foto-gratis/retrato-grupo-estudiantes-celebrando-su-graduacion_23-2148201818.jpg"
                        class="img-fluid" alt="diseño        arquitectonico">
                </div>
            </div>
        </div>
    </div>
</section>





<div class="container card-body">
    <!-- Card deck -->
    <div class="card-deck">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" data-aos="fade-up-right" src="img/18786.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">¡Prepárate para la vida universitaria!</h4>
                <!--Text-->
                <p class="card-text">¡Formación virtual gratuita! Prepárate para el examen de admisión con nuestros
                    cursos gratuitos virtuales.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="/preguntas2" type="button" data-aos="flip-up" class="btn bg-dark text-white btn-md">Ver más
                </a>

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" data-aos="fade-up"
                    src="https://image.freepik.com/foto-gratis/linda-estudiante-preparandose-examen-al-aire-libre_1098-18780.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Recomendaciones para el examen de admisión</h4>
                <!--Text-->
                <p class="card-text">
                    Lee cuidadosamente estas instrucciones que debes tener en cuenta para el examen de admisión el 23 y
                    24 de septiembre de 2019.</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="/preguntas3"type="button" data-aos="flip-up" class="btn bg-dark text-white btn-md">Ver más
                </a>

            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" data-aos="fade-left"
                    src="https://image.freepik.com/foto-gratis/recortada-estudiante-universitaria-escuchando-musica-antes-clases-al-aire-libre_1098-18734.jpg"
                    alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">Cursos preparatorios para Medellín</h4>
                <!--Text-->
                <p class="card-text">
                    te ofrecemos estos cursos semipresenciales en Competencia lectora orientados a construir saberes y aprender estrategias .</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <a href="/preguntas4" type="button" data-aos="flip-up" class="btn bg-dark text-white btn-md">Ver más
                </a>

            </div>

        </div>
        <!-- Card -->

    </div>
    <!-- Card deck -->
</div>

</div>