{{{ body }}}
<div class="container">
    <div class="row card-body">

        <h1 class="container m-5">Inducción a la Vida Universitaria</h1>

        <p>
            Pensando en optimizar las rutas para acceder a la Alma Máter en las regiones se dispone del Programa de
            Inducción a la Vida Universitaria, adscrito a la Dirección de Regionalización en el eje de Extensión, cuyo
            objetivo responde a las necesidades de cualificación y mejoramiento de las competencias primordiales en
            estudiantes de la educación básica y media, para procesos de educación superior, sobre todo en las regiones
            del departamento de Antioquia donde las condiciones de educación del nivel precedente han sido mucho más
            vulnerables en temas de calidad, eficiencia, cobertura y pertinencia .</p>
        <p>
            Mediante cuatro cursos, Razonamiento Lógico, Competencia Lectora, Orientación Vocacional y Metodología de
            Estudio, los estudiantes pueden lograr el fortalecimiento de las llamadas habilidades duras y blandas
            requeridas tanto para la vida académica como para, posteriormente, el mundo laboral. Los cursos se aprueban
            con un puntaje igual o superior a 3.0, resultado que, en muchas ocasiones, las Instituciones educativas que
            llevan a cabo el programa, le dan una valoración cuantitativa en el proceso académico regular de éstas.</p>
        <p>
            La programación de los cursos se da según la demanda de los centros educativos e instituciones públicas o
            privadas que lo requieran, como una estrategia complementaria de formación permanente para la integralidad
            de quienes deseen continuar en procesos educativos, una vez firmado el contrato y establecido menesteres
            logísticos para su desarrollo.</p>
        <p>
            Un seguimiento a los resultados de las pruebas de admisión con relación al PIVU ha permitido identificar que
            los estudiantes obtienen mejores puntuaciones en la prueba de admisión de la Universidad de Antioquia,
            además los aprendizajes obtenidos en los cursos posibilitan el establecimiento de hábitos de estudio para
            que los aspirantes puedan enfrentar, eficientemente, su tránsito en los primeros semestres universitarios y
            la capacidad de discernir no sólo sobre su programa académico elegido y las implicaciones personales y
            sociales, sino sobre la manera en que resuelven sus propios problemas y los de su entorno.</p>
        <p>
            La importancia que para la regionalización tiene el desarrollo de este programa radica en el aumento del
            desempeño académico que los estudiantes obtienen al cursarlo, la incidencia en la cobertura, pertinencia y
            la calidad educativa con principios de igualdad y equidad en las regiones y el apoyo a procesos internos del
            Alma Mater como la sostenibilidad de las sedes y seccionales universitarias.</p>
        
            <strong>Informes
            <br>Teléfono: 3154290128
            <br>Correo: pivuregiones@udea.edu.co 
            <br>En cada sede y seccional se debe consultar en la coordinación de extensión</strong>
    </div>
</div>