{{{ body }}}
<section>
    <div class="ewk_cont_5">
        <div class="container">
            <div class="row">
                <div class="container bg-faded m-5">
                    <h1 class="text-center text-danger">¡Prepárate para la vida universitaria!</h1>
                    <hr>
                    <div class="row container">
                        <div class="col text-primary">
                            <p> La Vicerrectoría de Docencia de la Universidad Force Key acompañará el proceso de
                                preparación de
                                aspirantes a
                                la vida universitaria, mediante la implementación de los cursos virtuales gratuitos de
                                razonamiento lógico y
                                competencia lectora, acompañados de contenidos de orientación vocacional y técnicas de
                                estudio.</p>

                            <strong> Razonamiento Lógico</strong>
                            <p>Los estudiantes realizarán un recorrido por doce lecciones desarrolladas en cinco
                                unidades. Reconocerán las
                                condiciones básicas para tener éxito en el estudio de la matemática, y aprenderán a
                                resolver problemas de
                                razonamiento lógico, teoría de conjuntos, aritmética, y álgebra y geometría, a través de
                                video clases,
                                simulacros y problemas resueltos.</p>

                            <strong>Competencia Lectora</strong>
                            <p>Está organizado en cuatro unidades, en las que se abordarán aspectos generales de las
                                pruebas de competencia
                                lectora, tipologías textuales, tipos de lectura, lectura literal, inferencial y
                                analógica. A través de las
                                explicaciones, los talleres y algunos simulacros, los estudiantes ejercitarán algunas
                                competencias
                                necesarias
                                para el buen desempeño en la vida universitaria.</p>

                            <strong>Orientación Profesional</strong>
                            <p>Se realizarán ejercicios que aporten a la creación de diagnósticos y la identificación de
                                intereses,
                                necesidades, posibilidades y destrezas, aportando de esta manera a que los estudiantes
                                identifiquen
                                diferentes
                                alternativas, generen opciones para su formación profesional y seleccionen de manera
                                crítica la carrera a la
                                que
                                se presentarán.</p>
                            <br>
                            <strong>Técnicas de Estudio</strong>
                            <p>Se buscará generar hábitos de aprendizaje por medio de acciones generales que sirvan para
                                mejorar la
                                atención,
                                la concentración, el pensamiento crítico, el aprendizaje autónomo, y la memoria para
                                cualquier tipo de
                                estudio.</p>
                        </div>
                    </div>
                    <hr>

                </div>
            </div>

        </div>
    </div>
    </div>
</section>