{{{ body }}}









<div class="container bg-faded m-5">

    <h1 class="text-center text-info">Semilleros</h1>
    <hr>
    <div class="row container">
        <div class="col">
            <p>Son un programa de extensión que ofrece la Universidad para estudiantes desde 4° grado, buscando
                despertar en ellos el interés por el estudio de las ciencias, estimular el sentido de pertenencia hacia
                los centros de educación superior, mediante la relación directa con estos y fortalecer en los jóvenes
                las prácticas de convivencia.
            </p>


            <p>Los semilleros fueron aprobados por Acuerdo Superior N° 257 de mayo 25 de 1993.
            </p>


            <p>
                Además, con los semilleros se busca propender por el desarrollo de habilidades de pensamiento y, por
                consiguiente, de procesos de análisis, síntesis, evaluación y solución de problemas.
            </p>


            <p>Algunas ventajas académicas y extra-académicas de los semilleros
                Que buena parte de los estudiantes reconozcan lo importante que es utilizar adecuadamente el tiempo que
                les queda por fuera de la jornada escolar.</p>
            <br>

            <p>Un alto grado de satisfacción de los participantes reflejado en una buena y constante asistencia.
                Una mejor disposición de los asistentes para abordar el estudio de los diferentes temas.
                Un cambio sorprendente de actitud y de aptitud frente al estudio.
                No es la finalidad de los "Semilleros" que los estudiantes lo conciban como un prerrequisito para el
                ingreso a la Universidad, pero se ha detectado que quienes los asumen con seriedad, lo logran.
                Para los estudiantes es altamente positivo que se les presente la enseñanza, más como una etapa de su
                formación, que como un paquete de exámenes y calificaciones.
                Más información en cada una de las unidades académicas (facultades, escuelas e institutos) de la
                Universidad. </p>
        </div>
    </div>
    <hr>

</div>
</div>