<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #8d9092;">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-font"></i>
Enlaces favoritos
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        
        <li class="nav-item">
          <a class="nav-link" href="/signin">Horario de Clase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 

    <div class="container card-body">
        <!-- Card deck -->
        <div class="card-deck">

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" data-aos="fade-up-right" src="https://images.unsplash.com/photo-1498079022511-d15614cb1c02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    
                    <h4 class="far fa-hand-pointer card-title" data-aos="fade-right"> Matrículas Estudiantes Antigüos</h4>
                    <!--Text-->
                    <p class="card-text"data-aos="fade-down">Conoce las fechas y los procedimientos para continuar transformando tu vida</p>
                    

                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" data-aos="fade-up" src="https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <div class="card-body">
                    <!--Title-->
                    <h4 class="far fa-hand-pointer card-title" data-aos="fade-right"> Pago en linea</h4>
                    <!--Text-->
                    <p class="card-text"data-aos="fade-down">Con el ánimo de ofrecerte una alternativa para agilizar los trámites de la matrícula puedes realizar tú pago en forma Virtual</p>
                    
                </div>
            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" data-aos="fade-left" src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="far fa-hand-pointer card-title" data-aos="fade-right"> Encuentra tus notas</h4>
                    <!--Text-->
                    <p class="card-text"data-aos="fade-down">Encuentra tus notas, accede al correo, cambia el horario, ubica tus docentes, revisa el horario de clases y otros servicios</p>
                    
                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Card deck -->
    </div>

    <div class="container card-body">
        <!-- Card deck -->
        <div class="card-deck">

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" data-aos="fade-up-right" src="https://images.unsplash.com/photo-1559664043-6b68aa7347d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                  <div class="card-body">
                    <!--Title-->
                    <h4 class="far fa-hand-pointer card-title" data-aos="fade-right"> Reglamento de Prácticas Formativa</h4>
                  
                    <!--Text-->
                    <p class="card-text"data-aos="fade-down">Asegura el desarrollo pertinente e integral de los estudiantes en el ámbito laboral.</p>
                    
                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" data-aos="fade-up" src="https://images.unsplash.com/photo-1567168544999-b8ca00a3d9c2?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="far fa-hand-pointer card-title" data-aos="fade-right"> Doble Certificación</h4>
                  
                    <!--Text-->
                    <p class="card-text"data-aos="fade-down">Mejora tu perfil profesional y prepárate para un futuro lleno de éxitos.</p>
                    
                </div>

            </div>
            <!-- Card -->

            <!-- Card -->
            <div class="card mb-4">

                <!--Card image-->
                <div class="view overlay">
                    <img class="card-img-top" data-aos="fade-left" src="https://images.unsplash.com/photo-1568650136602-ded24b86c5af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                    <h4 class="far fa-hand-pointer card-title" data-aos="fade-right"> Circular de Finalización</h4>
                    <!--Text-->
                    <p class="card-text"data-aos="fade-down">Conoce las fechas de finalización de clases, matrículas e inicio de clases del próximo período.</p>
                    
                </div>

            </div>
            <!-- Card -->

        </div>
        <!-- Card deck -->
    </div>

