/*
estilos para la imagen que no andad o baja
*/

.ewk_cont_5 {
    height: 150vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/1106468/pexels-photo-1106468.jpeg?cs=srgb&dl=biblioteca-conocimiento-estante-1106468.jpg&fm=jpg");
    position: relative;
    padding: 5%;
    margin-top: 200px;
    margin-bottom: 100px;
}

.ewk_cont_5 .row {
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    padding: 2%;
}

.ewk_cont_banner_sec_3 {
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/2982449/pexels-photo-2982449.jpeg?cs=srgb&dl=al-aire-libre-arboles-arquitectura-2982449.jpg&fm=jpg");
    position: relative;
    padding: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ewk_cont_banner_sec_3 .row {
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    padding: 2%;
}

.ewk_cont_img {
    padding: 5%;
}


/*
stilos para el _footer.ejs
*/

.ewk_cont_sec_1 hr {
    border-top: 1px solid rgba(1, 1, 1, 0.3);
}

.ewk_cont_footer {
    background-color: rgba(1, 1, 1, 0.7);
    padding: 10%;
    color: #fff;
    margin-top: 100px;
}

.ewk_cont_footer a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.ewk_cont_img_footer {
    padding: 5%;
}


/*
estilos para la imagen que no andad o baja login
*/

.ewk_cont_banner_sec_4 {
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://image.freepik.com/foto-gratis/libros-coloridos-frente-pizarra_23-2148207613.jpg");
    position: relative;
    padding: 5%;
    margin-top: 100px;
    margin-bottom: 0px;
}

.ewk_cont_banner_sec_4 .row {
    background-color: rgba(1, 1, 1, 0.7);
    color: rgb(83, 75, 75);
    padding: 2%;
}

.ewk_cont_banner_sec_5 {
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://image.freepik.com/foto-gratis/libros-coloridos-frente-pizarra_23-2148207613.jpg");
    position: relative;
    padding: 5%;
    margin-top: 0px;
    margin-bottom: 100px;
}

.ewk_cont_banner_sec_5 .row {
    background-color: rgba(1, 1, 1, 0.7);
    color: rgb(83, 75, 75);
    padding: 2%;
}