<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-link"></i>
      <strong>Universidad Force Key</strong>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/profile">Inicio <i class="fas fa-info-circle"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#ir-arriba" id="a1">Contatenos <i class="far fa-address-book"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar sesión <i class="fas fa-times-circle"></i></a>
        </li>
        <i class="fad fa-book-reader">
          <a class="nav-link" href=""><i class="fas fa-user-check"></i> Bienvenido: {{user.nombre_alumnos}}</a>
        </i>
        
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/">Inicio <i class="fas fa-info-circle"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#ir-arriba" id="a1">Contatenos <i class="far fa-address-book"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse <i class="fas fa-user-edit"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Loguearse <i class="fas fa-user-check"></i></a>
        </li>


        {{/if}}
      </ul>
    </div>
  </div>
</nav>