<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-link"></i> 
Enlaces favoritos
    </a>
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="">Sedes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ir-arriba" id="a1">Contatenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar sesión</a>
        </li>
        <i class="fad fa-book-reader"></i>
          <a class="nav-link" href="/profile">Bienvenidos: {{user.nombre_alumnos}}</a>
        
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="">Sedes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#ir-arriba" id="a1">Contatenos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">Loguearse</a>
        </li>
        
         
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

