<div class="container p-4">
  <div class="row">

    <div class="col-md-4 mx-auto">
      <div class="card text-center">
        <h3 class="btn-primary">Loguearse</h3>
        <img src="https://cdn.pixabay.com/photo/2015/06/24/15/45/code-820275_960_720.jpg" data-aos="fade-up-right"
          alt="Logo Fazt" class="card-img-top ">
        <div class="card-body">
          <div>
            <form action="/signin" method="POST">
              <div class="md-form">
                <input type="text" name="username" required class="form-control" autofocus>
                <label for="username">Nombre de usuario</label>
              </div>
              <div class="md-form">
                <input type="password" name="password" required class="form-control">
                <label for="password">Contraseña</label>
              </div>
              <button data-aos="flip-up" class="btn btn-primary btn-block">
                Login
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>