<div class="container p-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card text-center">
        <div class="card-body  btn-dark btn-block">
          <h3 class="">Registrarse</h3>
        </div>
        <div class="card-body px-lg-5 pt-0" data-aos="fade-up-right">
          <form action="/signup" method="POST">
          <!--id_alumno	nombre_alumnos	email	password -->
            <div class="md-form">
              <input type="text" name="nombre_alumnos" required class="form-control" autofocus>
              <label for="nombre_alumnos">¿Cuál es tu Nombre?</label>
            </div>
            <div class="md-form">
              <input type="email" name="email" required class="form-control">
              <label for="email">¿Cuál es tu Email?</label>
            </div>
            <div class="md-form">
              <input type="password" name="password" required class="form-control">
              <label for="password">Contraseña</label>
            </div>
            <div class="form-group">
              <button data-aos="flip-up" class="btn bg-dark text-white btn-block">Registrarse</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>