

<div class="container bg-faded m-5">

    <h1 class="text-center text-success">Recomendaciones para el examen de admisión</h1>
    <hr>
    <div class="row container">
        <div class="col">
            <p> El examen de admisión se realizará el lunes 23 y el martes 24 de septiembre en la Universidad Force Key. Te informamos
                los diferentes cierres y medidas para los días de la prueba:
                El domingo 22 de septiembre la Universidad cierra con el fin de preparar los espacios y no habrá
                actividades en las siguientes jornadas:</p>


            <p>Jornada 1: Lunes 23 de septiembre de 9:00 a. m. a 12:00 m.
                Jornada 2: Lunes 23 de septiembre de 3:00 p. m. a 6:00 p. m.
                Jornada 3: Martes 24 de septiembre de 9:00 a. m. a 12:00 m.
                El martes 24 de septiembre se habilitará el ingreso a la comunidad universitaria a partir de la 1:30
                p.m.
            </p>


            <p>Los espacios de las Facultades de Medicina, Odontología y Enfermería solo se utilizarán en la Jornada 1,
                por lo tanto podrán retomar sus actividades académicas y administrativas a partir de las 2:00 p.m del
                lunes 23 de septiembre de 2019.</p>


            <p>Los espacios de la Facultad Nacional de Salud Pública, la Sede Posgrados y la Antigua Escuela de Derecho
                NO fueron programados en ninguna jornada para este proceso de admisión, por lo que podrán desarrollar
                sus actividades académicas y administrativas con normalidad.</p>
            <br>

            <p>Se mantiene la medida de pico y placa en Ciudad Universitaria de 5:30 a.m. a 4:00 p.m.</p>
            <p>¡Puedes realizar un simulacro del examen de admisión! </p>
        </div>
    </div>
    <hr>

</div>
</div>